<!-- navbar-success bg-dark-->
<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="#"><i class="fa fa-cog fa-spin fa-2x"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fas fa-plus"></i></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']"><i class="fas fa-home"> Home</i></a>
          </li>

        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/quem-somos']"><i class="fas fa-user-cog"> Quem somos</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/produtos']"><i class="fas fa-cubes"> Produtos</i></a>
        </li>

        <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/contato']"><i class="fas fa-id-badge"> Contatos</i></a>
          </li>
          
        
  
        
      </ul>
     
    </div>
  </nav>

  